body{
    background-color: black;
    color: white;
}
.title_{
    display: flex;
    justify-content: center;
}
.input{
    display: flex;
    justify-content: center;
}
.button{
    display: flex;
    justify-content: center;
}
.notice{
    display: flex;
    justify-content: center;
}
.last_guess_container{
    display: flex;
    justify-content: center;
}